<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bienvenue à KARHABTY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Carmotive Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="{{ asset('client/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="{{ asset('client/css/style.css') }}" type="text/css" media="all" />
    <!--// css -->
    <link rel="stylesheet" href="{{ asset('client/css/owl.carousel.css') }}" type="text/css" media="all">
    <link href="{{ asset('client/css/owl.theme.css') }}" rel="stylesheet">
    <!-- font-awesome icons -->
    <link href="{{ asset('client/css/font-awesome.css') }}" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Cinzel:400,700,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="{{ asset('client/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('client/js/bootstrap.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds
                autoPlay:true,
                items : 4,
                itemsDesktop : [640,5],
                itemsDesktopSmall : [414,4]

            });

        });
    </script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<!-- banner -->
<div class="banner jarallax">
    <div class="banner-dot">
        <div class="header-top">
            <div class="container">
                <div class="header-top-left">
                    <p><i class="fa fa-home" aria-hidden="true"></i> Esprit GHAZELA</p>
                </div>
                <div class="header-top-right">
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +216 99 612 818</p>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="container">
                <div class="header-left">
                    <div class="w3layouts-logo">
                        <h1>
                            <a href="index.html">KARHABTY</a>
                        </h1>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="w3layouts-banner-slider">
            <div class="container">
                <div class="slider">
                    <div class="callbacks_container">
                        <ul class="rslides callbacks callbacks1" id="slider4">
                            <li>
                                <div class="agileits-banner-info">
                                    <h3>BIENVENU</h3>
                                    <div class="w3-button">
                                        <a href="indexlogin.html">PLUS</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="agileits-banner-info">
                                    <h3>A KARHABTY </h3>
                                    <div class="w3-button">
                                        <a href="indexlogin.html">PLUS</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <script src="{{ asset('client/js/responsiveslides.min.js') }}"></script>
                    <script>
                        // You can also use "$(window).load(function() {"
                        $(function () {
                            // Slideshow 4
                            $("#slider4").responsiveSlides({
                                auto: true,
                                pager:true,
                                nav:true,
                                speed: 500,
                                namespace: "callbacks",
                                before: function () {
                                    $('.events').append("<li>before event fired.</li>");
                                },
                                after: function () {
                                    $('.events').append("<li>after event fired.</li>");
                                }
                            });

                        });
                    </script>
                    <!--banner Slider starts Here-->
                </div>
            </div>
        </div>
        <div class="header-right">
            <div class="container">
                <div class="top-nav">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!--navbar-header-->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#" class="active">ACCUEIL</a></li>
                                <li class=""><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AGENCES<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="hvr-bounce-to-bottom" href="#">AUTO-ECOLE</a></li>
                                        <li><a class="hvr-bounce-to-bottom" href="#">VENTE & <br> ECHANGE</a></li>
                                        <li><a class="hvr-bounce-to-bottom" href="#">LOCATION</a></li>
                                        <li><a class="hvr-bounce-to-bottom" href="#">SERVICES</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">FORUM</a></li>
                                <li><a href="#">EVENEMENTS</a></li>
                                <li><a href="#">CONTACTEZ-NOUS</a></li>

                            </ul>
                            <div class="clearfix"> </div>
                        </div>
                    </nav>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="banner-social">
            <div class="container">
                <div class="agileinfo-social-grids">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                        <li><a href="#"><i class="fa fa-rss"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->

{% block content %}{% endblock %}


<div class="wthree-subscribe">
    <div class="container">
        <div class="agileits-heading">
            <h3>Recherche</h3>
        </div>
        <div class="w3-agileits-subscribe-form">
            <form action="#" method="post">
                <input type="text" placeholder="Recherche" name="Subscribe" required="">
                <button class="btn1">Rechercher</button>
            </form>
        </div>
    </div>
</div>
<!-- //subscribe -->
<!-- footer -->

<div class="w3-agile-footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid">
                <div class="footer-grid-heading">
                    <h4>Adresse</h4>
                </div>
                <div class="footer-grid-info">
                    <p>Esprit GHAZELA
                        <span></span>
                    </p>
                    <p class="phone">Téléphone : +216 99 612 818
                        <span>Email : <a href="mailto:example@email.com">karhabty@gmail.com</a></span>
                        <span>FAX : <a href="mailto:example@email.com">71 874 972</a></span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 footer-grid">
                <div class="footer-grid-heading">
                    <h4>Navigation</h4>
                </div>
                <div class="footer-grid-info">
                    <ul>
                        <li class="active"><a href="#">Accueil</a></li>
                        <li><a href="about.html">AGENCES</a></li>
                        <li><a href="gallery.html">FORUM</a></li>
                        <li><a href="icons.html">EVENEMENTS</a></li>
                        <li><a href="typography.html">CONTACTEZ-NOUS</a></li>

                    </ul>
                </div>
            </div>
            <!-- <div class="col-md-3 footer-grid"> -->
            <!-- <div class="footer-grid-heading"> -->
            <!-- <h4>Newsletter</h4> -->
            <!-- </div> -->
            <!-- <div class="agile-footer-grid"> -->
            <!-- <ul class="w3agile_footer_grid_list"> -->
            <!-- <li>Ut aut reiciendis voluptatibus maiores <a href="#">http://example.com</a> alias, ut aut reiciendis. -->
            <!-- <span><i class="fa fa-twitter" aria-hidden="true"></i> 02 days ago</span></li> -->
            <!-- <li>Itaque earum rerum hic tenetur a sapiente delectus <a href="#">http://example.com</a><span><i class="fa fa-twitter" aria-hidden="true"></i> 03 days ago</span></li> -->
            <!-- </ul> -->
            <!-- </div> -->
            <!-- </div> -->
            <div class="col-md-3 footer-grid">
                <div class="footer-grid-heading">
                    <h4>Suivez-nous</h4>
                </div>
                <div class="social">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                        <li><a href="#"><i class="fa fa-rss"></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="agileits-w3layouts-copyright">
            <p>© 2017 KARHABTY . All Rights Reserved | Design by <a > MACHKA_DEV</a> </p>
        </div>
    </div>
</div>
<!-- //footer -->
<script src="{{ asset('client/js/jarallax.js') }}"></script>
<script src="{{ asset('client/js/SmoothScroll.min.js') }}"></script>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>

<script src="{{ asset('client/js/responsiveslides.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('client/js/move-top.js') }}"></script>
<script type="text/javascript" src="{{ asset('client/js/easing.js') }}"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<script src="{{ asset('client/js/owl.carousel.js') }}"></script>

{% block scripts %}{% endblock %}
</body>
</html>