{% extends 'ClientBundle::master.html.twig' %}

{% block styles %}


    <link rel="stylesheet" href="{{ asset('client/css/modal.css') }}">



{% endblock %}


{% block content %}

    <!-- Titlebar
================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Mes Voitures</h2>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="{{ url('client_homepage') }}">Home</a></li>
                            <li>Mes Voitures</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>



    <div class="container">

        <div class="row">
            {% include 'ClientBundle::profile_sidebar.html.twig' %}

            <div class="col-md-8">
                <div id="success_message" class="notification success closeable hidden">
                    <p id="success_message_content"><span>Success!</span> You did it, now relax and enjoy it.</p>
                    <a class="close"></a>
                </div>
                <div id="error_message" class="notification error closeable hidden">
                    <p id="error_message_content"><span>Error!</span> Please fill in all the fields required.</p>
                    <a class="close"></a>
                </div>
                <table class="manage-table responsive-table">
                    <tr>
                        <th><i class="fa fa-car"></i> Voitures</th>
                        <th class="expire-date"><i class="fa fa-building-o"></i> Agence</th>
                        <th></th>
                    </tr>

                    {% for v in voitures %}
                        <tr>
                            <td class="title-container">
                                <img style="height: 120px;" src="{{ asset('client/images/car.png') }}" alt="">
                                <div class="title">
                                    <h4><a href="#">{{ v.matricule }}</a></h4>
                                    <span>Marque : {{ v.marque }}  </span>
                                    <span>Couleur : {{ v.couleur }} </span>


                                    <span class="table-property-price">{{ v.prixLocation }} DT / jour</span>
                                </div>
                            </td>
                            <td class="expire-date">{{ v.agence.nomAgence }}</td>
                            <td class="action">
                                <a href="{{ url('manager_location_modifier_voiture',{'id':v.matricule}) }}"><i class="fa fa-pencil"></i> Modifier</a>
                                <a href="#" onclick="showCaracts('{{ v.carburant }}','{{ v.age|date('d M Y') }}','{{ v.kilometrage }}','{{ v.puissance }}','{{ v.carrousserie }}','{{ v.boite }}','{{ v.nbrPorte }}','{{ v.description }}','{{ v.gps }}','{{ v.climatisation }}','{{ v.airbag }}','{{ v.freinAbs }}','{{ v.alarme }}')"><i class="fa fa-eye"></i> Caractéristiques</a>
                                <a href="#" class="delete" onclick="suppVoiture('{{ v.matricule }}')"><i class="fa fa-remove"></i> Supprimer</a>
                                <a style="display: none" id="{{ v.matricule }}" href="{{ url('manager_location_supprimer_voiture',{'id':v.matricule}) }}">del</a>
                            </td>
                        </tr>
                    {% endfor %}


                </table>
            </div>
        </div>
    </div>








    <div id="modal-container" style=" z-index: 10000;">
        <div class="modal-background">
            <div class="modal">


                <h2 id="modal_carburant">Carburant : red </h2>
                <h2 id="modal_age">Date mise en circulation : red </h2>
                <h2 id="modal_kilometrage">Kilometrage : red </h2>
                <h2 id="modal_puissance">Puissance : red </h2>
                <h2 id="modal_carrousserie">Carrousserie : red </h2>
                <h2 id="modal_boite">Boite : red </h2>
                <h2 id="modal_nbr_porte">Nombre de porte : red </h2>

                <h2 id="modal_desc">Description : red </h2>

                <h3>Caracteristiques : </h3>
                <div id="modal_caracts" class="checkboxes in-row margin-bottom-20">



                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}


    <script>
        function suppVoiture(id){
            var check = confirm("Vous etes sure de supprimer cette voiture ?");
            if(check){
                document.getElementById(id).click();
            }else{

            }
        }

        function showCaracts(carburant,age,kilometrage,puissance,carrousserie,boite,nbrPorte,desc,gps,climatisation,airbag,freinAbs,alarme){
            $('#modal-container').removeAttr('class').addClass("two");
            $('#modal_carburant').html('Carburant : ' + carburant);
            $('#modal_age').html('Date mise en circulation : ' + age);
            $('#modal_kilometrage').html('Kilometrage : ' + kilometrage);
            $('#modal_puissance').html('Puissance : ' + puissance);
            $('#modal_carrousserie').html('Carrousserie : ' + carrousserie);
            $('#modal_boite').html('Boite : ' + boite);
            $('#modal_nbr_porte').html('Nombre de porte : ' + nbrPorte);
            $('#modal_desc').html('Description : ' + desc);
            $('#modal_caracts').empty();
            if(gps == 1){
                $('#modal_caracts').append('<span>GPS </span><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp&nbsp');
            }
            if(climatisation == 1){
                $('#modal_caracts').append('<span>Climatisation </span><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp&nbsp');
            }
            if(airbag == 1){
                $('#modal_caracts').append('<span>Airbag </span><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp&nbsp');
            }
            if(freinAbs == 1){
                $('#modal_caracts').append('<span>Frein ABS </span><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp&nbsp');
            }
            if(alarme == 1){
                $('#modal_caracts').append('<span>Alarme </span><i class="fa fa-check-square" aria-hidden="true"></i>&nbsp&nbsp');
            }

            $('body').addClass('modal-active');
        }

        $('#modal-container').click(function(){
            $(this).addClass('out');
            $('body').removeClass('modal-active');
        });
    </script>
    {% if app.session.flashBag.has('success') %}
        {% for msg in app.session.flashBag.get('success') %}
            <script>
                $('#success_message_content').html('<span>Succée!</span> {{ msg }}');
                $('#success_message').removeClass('hidden');
            </script>
        {% endfor %}
    {% endif %}

    {% if app.session.flashBag.has('error') %}
        {% for msg in app.session.flashBag.get('error') %}
            <script>
                $('#error_message_content').html('<span>Erreur!</span> {{ msg }}');
                $('#error_message').removeClass('hidden');
            </script>
        {% endfor %}
    {% endif %}




{% endblock %}

