{% extends 'ClientBundle::master.html.twig' %}
{% block content %}
    <div class="container">



        <div class="col-md-6 col-md-offset-4 ">
            <form method="post" action="{{ url('manager_location_modifier_voiture',{'id':voiture.matricule}) }}" enctype="multipart/form-data">
                <h1>Modifier Voiture : </h1>

                <input type="text" name="matricule" placeholder="matricule" value="{{ voiture.matricule }}">
                <br>
                <select name="marque">
                    <option value="bmw">BMW</option>
                    <option value="mercedes">Mercedes</option>
                </select>
                <br>
                <input type="text" name="couleur" placeholder="couleur" value="{{ voiture.couleur }}">

                <br>
                <input type="date" name="age" placeholder="age" value="{{ voiture.age|date("m/d/y") }}">
                <br>
                <input type="number" name="kilometrage" placeholder="kilometrage" value="{{ voiture.kilometrage }}">
                <br>
                <input type="number" name="puissance" placeholder="puissance" value="{{ voiture.puissance }}">
                <br>
                <select name="carrousserie">
                    <option value="suv">SUV</option>
                    <option value="coupe">coupé</option>
                </select>
                <br>
                <select name="boite">
                    <option value="manuelle">manuelle</option>
                    <option value="automatique">automatique</option>
                </select>
                <br>
                GPS
                {% if voiture.gps == 1 %}<input type="checkbox" name="gps" checked>{% else %}<input type="checkbox" name="gps">{% endif %}
                <br>
                Climatisation
                {% if voiture.climatisation == 1 %}<input type="checkbox" name="climatisation" checked>{% else %}<input type="checkbox" name="climatisation">{% endif %}
                <br>
                Airbag
                {% if voiture.airbag == 1 %}<input type="checkbox" name="airbag" checked>{% else %}<input type="checkbox" name="airbag">{% endif %}
                <br>
                Frein ABS
                {% if voiture.freinAbs == 1 %}<input type="checkbox" name="frein_abs" checked>{% else %}<input type="checkbox" name="frein_abs">{% endif %}
                <br>
                Alarme
                {% if voiture.alarme == 1 %}<input type="checkbox" name="alarme" checked>{% else %}<input type="checkbox" name="alarme">{% endif %}
                <br>
                <select name="nbr_porte">
                    <option value="2">2</option>
                    <option value="4">4</option>
                </select>
                <br>
                <select name="carburant">
                    <option value="diesel">diesel</option>
                    <option value="essence">essence</option>
                </select>
                <br>
                <textarea name="description">{{ voiture.description }}</textarea>
                <br>
                <input type="text" name="prix" placeholder="prix" value="{{ voiture.prixLocation }}">
                <br>
                <select name="agence">
                    {% for ag in agences %}
                        <option value="{{ ag.idAgence }}">{{ ag.nomAgence }}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" value="Ajouter Voiture">
            </form>
        </div>

    </div>

{% endblock %}

{% block scripts %}



{% endblock %}


