{% extends 'ClientBundle::master.html.twig' %}

{% block content %}
    <!-- welcome -->
    <div class="welcome">
        <div class="container">
            <div class="w3ls-welcome-grids">
                <div class="col-md-4 w3l-welcome-left">
                    <h2>Bienvenu</h2>
                    <h5>Notre site KARHABTY</h5>
                    <p>vous offre la possiblité de consulter les stations de services les plus proches de votre emplacement,d'aquérir des permis à travers des auto-écoles,de consulter les annonces de ventes & échanges  </p>
                </div>
                <div class="col-md-4 w3l-welcome-img">

                </div>
                <div class="col-md-4 w3l-welcome-right">
                    <h3>Quoi d'autre ?</h3>
                    <p><span>Pour les fans de voiture,un forum de discussion est pris en compte pour partager les actualités </span></p>
                    <!-- <div class="w3l-button"> -->
                    <!-- <a href="single.html">PLUS</a> -->
                    <!-- </div> -->
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //welcome -->
    <!-- services -->
    <div class="services">
        <div class="col-md-5 w3ls-services-left">

        </div>
        <div class="col-md-7 w3ls-services-right">
            <h3>Nos agences:</h3>
            <div class="w3ls-services-icons">
                <div class="agileits-icon-grid">
                    <div class="icon-left hvr-radial-out">
                        <i class="fa fa-wrench fa-2x ;color:;" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Services</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum neque hendrerit.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="agileits-icon-grid">
                    <div class="icon-left hvr-radial-out">
                        <i class="fa fa-car fa-2x "style="color:white;" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Location</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum neque hendrerit.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="agileits-icon-grid">
                    <div class="icon-left hvr-radial-out">
                        <i class="fa fa-universal-access fa-2x "style="color:white;" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Auto-écoles</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum neque hendrerit.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <br>
                <div class="agileits-icon-grid">
                    <div class="icon-left hvr-radial-out">
                        <i class="fa fa-group fa-2x "style="color:white;" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>Vente&Echange</h5>
                        <p>Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum neque hendrerit.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>

    </div>
    <!-- //services -->
    <!-- work -->
    <div class="work">
        <div class="container">
            <!-- <div class="agileits-heading"> -->
            <!-- <h3>Latest work</h3> -->
            <!-- </div> -->
        </div>
        <div class="work-grids">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="work-grid-info">
                        <img src="{{ asset('client/images/w1.jpg') }}" alt="" />
                        <div class="work-grid-caption">
                            <i class="fa fa-file-image-o fa-2x "style="color:white;"  aria-hidden="true"></i>
                            <h4>Galerie</h4>
                            <!-- <p>Fusce laoreet</p> -->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work-grid-info">
                        <img src="{{ asset('client/images/w2.jpg') }}" alt="" />
                        <div class="work-grid-caption">
                            <i class="fa fa-file-image-o fa-2x "style="color:white;"  aria-hidden="true"></i>
                            <h4>Galerie</h4>
                            <!-- <p>Lorem ipsum</p> -->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work-grid-info">
                        <img src="{{ asset('client/images/w3.jpg') }}" alt="" />
                        <div class="work-grid-caption">
                            <i class="fa fa-file-image-o fa-2x "style="color:white;"  aria-hidden="true"></i>
                            <h4>Galerie</h4>
                            <!-- <p>Nunc tincidunt</p> -->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work-grid-info">
                        <img src="{{ asset('client/images/w4.jpg') }}" alt="" />
                        <div class="work-grid-caption">
                            <i class="fa fa-file-image-o fa-2x "style="color:white;"  aria-hidden="true"></i>
                            <h4>Galerie</h4>
                            <!-- <p>Phasellus magna</p> -->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work-grid-info">
                        <img src="{{ asset('client/images/w5.jpg') }}" alt="" />
                        <div class="work-grid-caption">
                            <i class="fa fa-file-image-o fa-2x "style="color:white;"  aria-hidden="true"></i>
                            <h4>Galerie</h4>
                            <!-- <p>Fusce laoreet</p> -->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work-grid-info">
                        <img src="{{ asset('client/images/w6.jpg') }}" alt="" />
                        <div class="work-grid-caption">
                            <i class="fa fa-file-image-o fa-2x "style="color:white;"  aria-hidden="true"></i>
                            <h4>Galerie</h4>
                            <!-- <p>Lorem ipsum</p> -->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work-grid-info">
                        <img src="{{ asset('client/images/w7.jpg') }}" alt="" />
                        <div class="work-grid-caption">
                            <i class="fa fa-file-image-o fa-2x "style="color:white;"  aria-hidden="true"></i>
                            <h4>Galerie</h4>
                            <!-- <p>Nunc tincidunt</p> -->
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work-grid-info">
                        <img src="{{ asset('client/images/w1.jpg') }}" alt="" />
                        <div class="work-grid-caption">
                            <i class="fa fa-file-image-o fa-2x "style="color:white;" aria-hidden="true"></i>
                            <h4>Galerie</h4>
                            <!-- <p>Phasellus magna</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //work -->

    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager:false,
                nav:false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
{% endblock %}